/*div{
	border:.5px solid black;
}*/
body{
	background: repeating-linear-gradient(
	-45deg,
	#8093a1,
	#8093a1 57px,
	#8c9eac 57px,
	#8c9eac 114px);
}
span{
	text-transform:lowercase;
	font-family: "MyriadProRegular", Arial;
	font-weight:normal;
	color:black;
	font-size:25.72px;
}
.education li:before, .experience li:before {
	content: '\2022';
	display: block;
	position: relative;
	max-width: 0;
	max-height: 0;
	left: -35px;
	top: -35px;
	color: black;
	font-size: 70px;
}
.education li, .experience li{
	list-style: none;
	font-weight:bold;
	font-size:25.72px;
	color:#3d6cb0;
	margin-bottom:20px;
}
li p{
	text-transform:lowercase;
	font-family: "MyriadProRegular", Arial;
	font-weight:normal;
	font-size:15.43px;
	color:black;
	margin-bottom:5px;
	margin-top:5px;
}
.education ul, .experience ul{
	margin-top:0px;
	margin-bottom:0px;
}
h3{
	font-family: "MyriadProRegular", Arial;
	font-weight:normal;
	font-size:25.72px;
	color:black;
	margin-bottom:0;
	margin-top:0;
}
p span{
	font-weight:bold;
	font-size: 15.62px;
}
p{
	margin:0px;

}
