/*Page elements*/
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 50px;
  background: repeating-linear-gradient( 
				-45deg, 
				@gradient-color-lightgrey, 
				@gradient-color-lightgrey 57px, 
				@gradient-color-grey 57px, 
				@gradient-color-grey 114px);
}
span {
	color:black;
	font-family: @font;
	font-size:@font-size-medium;
	font-weight:normal;
}
p {
	margin:0;
	span {
		font-size: @font-size-small;
		font-weight:bold;
	}
}
ul{
	margin:0;
}
li {
	p {
		color:black;
		font-family: @font;
		font-size:@font-size-small;
		font-weight:normal;
	}
}
h1,h2,h3,h4{
	.text-overflow-ellipsis;
}
h4 {
	color:black;
	font-family: @font;
	font-size:@font-size-medium;
	font-weight:normal;
	margin:0;
}

label {
	.text-overflow-ellipsis;
}