.wrapper{
	min-height:100%;
	position:relative;
}

.content{
	box-sizing:border-box;
	padding:73px 55px 74px 60px;
	margin:0 auto;
	width:1240px;
	background:white;
	box-shadow: 9px 20px 5px rgba(80,80,80,.3);
	overflow:hidden;
}

.block{
	width:45%;
	font-family: "MyriadProBold", Arial;
	/*margin-bottom :45px;*/
	margin-bottom :2.5%;
	float:left;
	overflow:hidden;
	margin-right :5%;
	/*margin-right:60px;*/
}


.skills{
	font-family: "MyriadProRegular", Arial;
	font-weight:normal;
	font-size:25.72px;
	color:black;
}

.education, .experience, .software{
	margin-left:5%;
	/*margin-left:50px;*/
	margin-right:0;
}

.title{
	width:100%;
	overflow:hidden;
}

.footer a {
    margin:0 auto;
	display:block;
	width:368px;
	height:50px;
	position:relative;
	bottom:0;
	left:0;
	background-image: url("../Images-fixed/FREEPIK LOGO.png");
	background-repeat: no-repeat;
	background-position: center;
}
