.profile-profile, .contact-contact, .skills-skills, .education-education, .experience-experience, .software-software {
	font-size:41.15px;
	font-weight:bold;
	color:#3d6cb0;
	font-family: "MyriadProBold", Arial;
	text-transform:uppercase;
	
	float:left;
}

.profile-profile p, .contact-contact p, .skills-skills p, .education-education p, .experience-experience p, .software-software p{
	float:left;
	margin-top:8px;
	
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	
	min-width:100px;
	max-width:300px;
}

.education-education p, .experience-experience p, .software-software p{
	
	max-width:520px;
}

.title{
	overflow:hidden;
}

.profile-profile::before{
	content: url("../Images/PROFILE ICON.png");
	margin-right:12px;
	/*width:74px;*/
	float:left;
}

.profile-profile::after{
	content: '';
	height: 5px;
	background-color:#3d6cb0;
	margin-top:32px;
	width:148px;

	float:left;
}

.contact-contact::before{
	content: url("../Images/Phone Icon.png");
	margin-right:12px;
	float:left;
}

.contact-contact::after{
	content: '';
	height: 5px;
	background-color:#3d6cb0;
	margin-top:32px;
	width:140px;
	float:left;
}

.skills-skills::before{
	content: url("../Images/SKILLS ICON.png");
	margin-right:12px;
	float:left;
}

.skills-skills::after{
	content: '';
	height: 5px;
	background-color:#3d6cb0;
	margin-top:32px;
	width:180px;
	float:left;
}

.education-education::before{
	content: url("../Images/EDUCATION ICON.png");
	margin-right:12px;
	float:left;
}

.education-education::after{
	content: '';
	height: 5px;
	background-color:#3d6cb0;
	margin-top:32px;
	width:310px;
	float:left;
}

.experience-experience::before{
	content: url("../Images/EXPERIENCE ICON.png");
	margin-right:12px;
	float:left;
}

.experience-experience::after{
	content: '';
	height: 5px;
	background-color:#3d6cb0;
	margin-top:32px;
	width:290px;
	float:left;
}

.software-software::before{
	content: url("../Images/SOFTWARE ICON.png");
	margin-right:12px;
	float:left;
}

.software-software::after{
	content: '';
	height: 5px;
	background-color:#3d6cb0;
	margin-top:32px;
	width:320px;
	float:left;
}

/*Name-Job*/
.outer-elipse {
  border:solid 2px #3d6cb0;
  border-radius: 150px/150px;
  width: 233px;
  height: 233px;
  display: inline-block;
  margin: 15px 82px 30px 100px;
}

.inner-elipse {
  border-radius: 150px/150px;
  background-color: #3d6cb0;
  width: 203px;
  height: 203px;
  margin:15px;
} 

.name {
  font-size: 58px;
  font-family: "MyriadProRegular", Arial;
  text-transform:uppercase;
  margin: 0 0 0 75px;
  
  	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	max-width:350px;

}

.surname{  	
  font-size: 61.73px;
  font-family: "MyriadProBold", Arial;
  text-transform:uppercase;
  font-weight: bold;
  margin: -15px 0 0 75px;
  
    text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.graphic-designer {
  font-size: 24.99px;
  font-family: "MyriadProBold", Arial;
  text-transform:uppercase;
  font-weight: bold;
  text-align:center;
  
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
		max-width:350px;
}

.profile-text{
	font-size: 15.62px;
	font-family: "MyriadProRegular", Arial;
	text-align: left;
		max-width:350px;
}

/*Contact*/
.contact-table{
	display:table;
}
.contact-row{
	display:table-row;
}

.contact-cell-value{
	display:table-cell;
	font-size: 20.58px;
	font-family: "MyriadProRegular", Arial;
	text-align: left;
}

.contact-cell{
	/*display:inline;*/
	display:table-cell;
	font-size: 20.58px;
	font-family: "MyriadProRegular", Arial;
	text-align: left;
	overflow:hidden;
	max-width:100px;
	margin-right:60px;
}

.contact-cell-value{
    border: none;
    border-color: transparent;
}

.contact-cell{
	font-weight:bold;
	text-transform:uppercase;
	color: #3d6cb0;
	padding: 30px 40px 0px 0;
}

.skill-container{
	margin-left:45px;
}

.elipse, .elipse-grey{
	width: 17px;
	height: 17px;
	border-radius: 9px 8px 8px 9px/9px 9px 8px 8px;
	background-color: #3d6cb0;
	display:inline-block;
	margin:5px;
}

.elipse-grey{
	background-color: #e6e6e6;
}

.skill-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.skill-list li {
    float: left;
	display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

.skills p{
	font-family: "MyriadProRegular", Arial;
	font-weight:normal;
	font-size:25.72px;
	color:black;
	text-align:center;
	margin-top:0;
	
	max-width:280px;
	
}

.skills-skills p{
	font-size:41.15px;
	font-weight:bold;
	color:#3d6cb0;
	font-family: "MyriadProBold", Arial;
	text-transform:uppercase;
	margin-top:8px;
}

.skills ul{
	margin-bottom:20px;
}

.education ul, .experience ul{
	padding-top:25px;
}

.education span:before{
	content: "\00a0//\00a0";
}

.education span{
	text-transform:capitalize;
}

.education li{
	text-transform:uppercase;
	font-family: "MyriadProBold", Arial;
}

.experience li{
	color:black;
	font-family: "MyriadProBold", Arial;
}

.experience span:before{
	content: "\00a0//\00a0";
}

.experience span{
	text-transform:capitalize;
}

/*Software*/
.software-left, .software-right{
	float:left;
}

.software-left{
	margin-right:60px;
}

.software-left p, .software-right p{
	text-transform:uppercase;
	font-family: "MyriadProRegular", Arial;
	font-size:25.72px;
	text-align:left;
	margin-bottom:10px;
	margin-top:18px;
	
			text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	
	max-width:280px;
}

/**/
.education li::before, .experience li::before {
	content: '\2022';
	display: block;
	position: relative;
	max-width: 0;
	max-height: 0;
	left: -35px;
	top: -35px;
	color: black;
	font-size: 70px;
}
.education li, .experience li{
	list-style: none;
	font-weight:bold;
	font-size:25.72px;
	color:#3d6cb0;
	margin-bottom:20px;
}

.experience li{
	color:black;
}
