.wrapper{
	min-height:100%;
	position:relative;
}

.content{
	box-sizing:border-box;
	padding:73px 55px 74px 60px;
	margin:0 auto;
	width:1240px;
	background:white;
	box-shadow: 9px 20px 5px rgba(80,80,80,.3);
	overflow:hidden;
}

.name-job, .skills, .contact, .profile, .education, .experience, .software{
	font-family: "MyriadProBold", Arial;
	margin-bottom :45px;
	float:left;
	overflow:hidden;
}

.name-job, .skills, .contact, .profile{
	width:415px;
}

.education, .experience, .software{
	width:635px;
	margin-left:70px;
}

.footer a {
    margin:0 auto;
	display:block;
	width:368px;
	height:50px;
	position:relative;
	bottom:0;
	left:0;
	background-image: url("../Images-fixed/FREEPIK LOGO.png");
	background-repeat: no-repeat;
	background-position: center;
}
