.progress{
	width:255px;
	height: 23px;
	background-color: lightgrey;
	margin-bottom:5px;
	margin-top:10px;
}

.software-rate-photoshop,  .software-rate-illustrator, .software-rate-indesign, .software-rate-dreamweawer, .software-rate-after, .software-rate-html{
	background-color: #3d6cb0;
    height: 23px;
}

.software-rate-photoshop {
	width:91%; 
}

.software-rate-illustrator {
	width:71%;
}

.software-rate-indesign {
	width:57%;
}

.software-rate-dreamweawer {
	width:82%;
}

.software-rate-after {
	width:60.7%;
}

.software-rate-html {
	width:91%;
}